body{
    background: #ccccff;
}
button{
    color: white;
    background: blue;
    border-radius: 5px;
    height: 40px;
    
}
input{
    height: 35px;
    background: whitesmoke;
}
select{
    height:35px;
    background: whitesmoke;
   
}
.relust_field{
    background: #F0F0F0;
    
}
.margin_top_30px{
    margin-top:30px;
}
.margin_top_20px{
    margin-top:20px;
}
.text_align_center{
    text-align:center;
}
.text_align_left{
    text-align:left;
}
.height{
    height: 30px;
}
.wd_100_pr{
    width:100%;
}
.wd_98_pr{
    width: 98%;
}
.wd_33_pr{
    width:32%;
}
.display_inline_flex{
    display: inline-flex;
}
.display_none{
    display: none;
}
.margin_left_10px{
    margin-left:10px;
}
.margin_left_20px{
    margin-left:20px;
}
.margin_left_17px{
    margin-left: 17px;
}